extends ../layout
block content
  div(ng-controller='HistoryController')
    h1 #{menu}
    table.table
      tr
        th syncId
        th PatientName
        th StudyInstanceUID
        th num
        th updatedAt
      tr(ng-repeat='item in table.uploadList')
        td {{item.syncId}}
        td {{item.PatientName}}
        td {{item.StudyInstanceUID}}
        td {{item.num}}
        td {{item.updatedAt}}
    button.btn.btn-default(ng-click="pre()") 上一页
    button.btn.btn-default(ng-click="next()") 下一页
    h4 {{message}}