extends ../layout
block content
  div(ng-controller='UploadController')
    h1 #{menu}
    h3 选择想上传文件目录下的某一文件:
    input(type='file',value="{{dir}}")
    p {{dir}}
    button.btn.btn-default(ng-click="upload()") 开始上传
