<div ng-controller="UploadController">
  <!--<h1 class="page-header">上传文件</h1>-->
  <div>
    <button class="btn btn-sm btn-primary"
            ng-click="uploadControllerScope.browseAndUpload()">Upload
    </button>

    <!--<h2 ng-hide="uploadControllerScope.fileInfoList.length == 0" class="sub-header">上传进度</h2>-->
    <h2 ng-hide="uploadControllerScope.fileInfoList.length > 0" class="sub-header">暂无上传</h2>
    <div class="table-responsive" ng-hide="uploadControllerScope.fileInfoList.length == 0">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>名称</th>
          <!--<th>工程</th>-->
          <th>大小</th>
          <th>进度</th>
          <th>速度</th>
          <th>状态</th>
          <th>上传开始日期</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in  uploadControllerScope.fileInfoList">
          <td>{{item.syncId}}</td>
          <td>{{item.name}}</td>
          <!--<td>{{item.projectName}}</td>-->
          <td>{{item.size}}</td>
          <td style="width: 10%">
            <div class="progress" style="margin-bottom: 0px;position:relative;">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                   aria-valuemax="100" style="width: {{item.progress}}%"></div>
              <span style="color: black;top:0;bottom:0;right:0;left:0;position:absolute;text-align: center;">{{item.progress}}%</span>
            </div>
          </td>
          <td>{{item.speed}}</td>
          <td>{{item.working?item.workingStatus:item.status}}</td>
          <td>{{item.createdAt}}</td>
          <td>
            <button class="btn btn-sm btn-primary" ng-disabled="item.status != 'uploading' || item.status == 'failed' || item.working"
                    ng-click="uploadControllerScope.pauseUpload(item.syncId)">暂停
            </button>
          </td>
          <td>
            <button class="btn btn-sm btn-primary" ng-disabled="item.status != 'paused' || item.status == 'failed' || item.working"
                    ng-click="uploadControllerScope.resumeUpload(item.syncId)">继续
            </button>
          </td>
          <td>
            <button class="btn btn-sm btn-primary" ng-disabled="item.status == 'finished' || item.status == 'aborted' || item.working"
                    ng-click="uploadControllerScope.abortUpload(item.syncId)">放弃
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div>
        <p ng-hide="uploadControllerScope.message == ''">{{uploadControllerScope.message}}</p>

      </div>

    </div>

  </div>
</div>
