<div ng-controller="UploadController">
  <h1 class="page-header">上传文件</h1>
  <div>
    <button class="btn btn-sm btn-primary"
            ng-click="uploadControllerScope.browseAndUpload()">Upload
    </button>

    <!--<p ng-hide="uploadControllerScope.dcmDir==''">您选择的文件夹：{{uploadControllerScope.dcmDir}}</p>-->

    <h2 ng-hide="uploadControllerScope.fileInfoList.length == 0" class="sub-header">上传进度</h2>
    <h2 ng-hide="uploadControllerScope.fileInfoList.length > 0" class="sub-header">暂无上传</h2>
    <div class="table-responsive" ng-hide="uploadControllerScope.fileInfoList.length == 0">
      <table  class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Project</th>
          <th>Size</th>
          <th>Progress</th>
          <th>Speed</th>
          <th>Status</th>
          <th>CreatedAt</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in  uploadControllerScope.fileInfoList">
          <td>{{item.syncId}}</td>
          <td>{{item.name}}</td>
          <td>{{item.project}}</td>
          <td>{{item.size}}</td>
          <td>
            <div class="progress" style="margin-bottom: 0px;">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                   aria-valuemax="100" style="width: {{item.progress}}%"></div>
            </div>
            {{item.progress}}%
          </td>
          <td>{{item.speed}}</td>
          <td>{{item.status}}</td>
          <td>{{item.createdAt}}</td>
          <td>
            <button class="btn btn-sm btn-primary" ng-disabled="item.status != 'uploading' || item.status == 'failed'"
                    ng-click="uploadControllerScope.pauseUpload(item.syncId)">暂停
            </button>
          </td>
          <td>
            <button class="btn btn-sm btn-primary" ng-disabled="item.status != 'paused' || item.status == 'failed'"
                    ng-click="uploadControllerScope.resumeUpload(item.syncId)">继续
            </button>
          </td>
          <td>
            <button class="btn btn-sm btn-primary" ng-disabled="item.status == 'finished' || item.status == 'aborted'"
                    ng-click="uploadControllerScope.abortUpload(item.syncId)">放弃
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div>
        <!--<h4>STEP 2 : 读取dicom文件</h4>-->
        <!--<button ng-disabled="dcmDir==''" class="btn btn-sm btn-primary" ng-click="read()">读 取</button>-->
        <!--<div ng-hide="dcmDir=='' || readResults.studies==null">-->
        <!--<table class="table table-striped">-->
        <!--<thead>-->
        <!--<tr>-->
        <!--<th>#</th>-->
        <!--<th>患者姓名</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr ng-repeat='item in readResults.studies'>-->
        <!--<td>{{item.StudyInstanceUID}}</td>-->
        <!--<td>{{item.PatientName}}</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--<p>dcm文件数量: {{readResults.dcmCount}}</p>-->
        <!--</div>-->
        <!--<h4>STEP 3 : 进行上传</h4>-->
        <!--<button ng-disabled="dcmDir=='' || readResults.studies==null" class="btn btn-sm btn-primary" ng-click="upload()">上传</button>-->
        <p ng-hide="uploadControllerScope.message == ''">{{uploadControllerScope.message}}</p>

      </div>

    </div>
