<div>
  <div class="modal-header">
    <h3 class="modal-title">Upload</h3>
  </div>
  <div class="modal-body">
    <div>
      <label>Project: </label>
      <select ng-disabled="!projectList || projectList.length==0" class="form-control" ng-model="selectedProject" ng-options="f.name for f in projectList">
      </select>
    </div>
    <div>
      <span>Uploading {{fileList.length}} file, total upload size is:{{totalSize}}</span>
    </div>
    <div>
      <strong ng-show="projectList.length==0">Warning:you can not upload because you have no projects!</strong>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="!selectedProject" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</div>