<div ng-controller="UploadController">
  <h1 class="page-header">上传图像</h1>
  <div>
    请选择一个文件夹,DICOM文件将会将其中的dicom文件上传至CuraCloud云服务器.<br/>
    <h4>选择文件夹:</h4>
    <button class="btn btn-sm btn-primary" ng-click="uploadControllerScope.browseAndUpload()">选择并上传</button>
    <p ng-hide="uploadControllerScope.dcmDir==''">您选择的文件夹：{{uploadControllerScope.dcmDir}}</p>
    <!--<h4>STEP 2 : 读取dicom文件</h4>-->
    <!--<button ng-disabled="dcmDir==''" class="btn btn-sm btn-primary" ng-click="read()">读 取</button>-->
    <!--<div ng-hide="dcmDir=='' || readResults.studies==null">-->
      <!--<table class="table table-striped">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th>#</th>-->
          <!--<th>患者姓名</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr ng-repeat='item in readResults.studies'>-->
          <!--<td>{{item.StudyInstanceUID}}</td>-->
          <!--<td>{{item.PatientName}}</td>-->
        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->
      <!--<p>dcm文件数量: {{readResults.dcmCount}}</p>-->
    <!--</div>-->
    <!--<h4>STEP 3 : 进行上传</h4>-->
    <!--<button ng-disabled="dcmDir=='' || readResults.studies==null" class="btn btn-sm btn-primary" ng-click="upload()">上传</button>-->
    <p ng-hide="uploadControllerScope.procession == ''">{{uploadControllerScope.procession}}</p>
    <p ng-hide="uploadControllerScope.message == ''">{{uploadControllerScope.message}}</p>

  </div>

</div>
