
doctype html
html(lang='en',ng-app='Uploader')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')
    title= title
    link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.css')
  body
    main.auth-main(ng-controller='AuthController')
      .auth-block
        .alert.bg-danger(ng-show='errorMessage')
          strong {{errorMessage}}
        form.form-horizontal
          .form-group
            label.col-sm-2.control-label(for='inputUsername') Username
            .col-sm-10
              input#inputUsername.form-control(type='text', placeholder='Username', ng-model='username')
          .form-group
            label.col-sm-2.control-label(for='inputPassword3') Password
            .col-sm-10
              input#inputPassword3.form-control(type='password', placeholder='Password', ng-model='password')
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-default.btn-auth(type='submit', ng-click='doLogin()') Sign in
              a.forgot-pass(href='', ng-click='doForgotPassword()') Forgot password?

    script(src='lib/jquery/dist/jquery.js')
    script(src='lib/bootstrap/dist/js/bootstrap.js')
    script(src='lib/angular/angular.js')
    script(src='lib/lodash/dist/lodash.js')
    script(src='app/app.js')
    script(src='app/controller.js')
    script(src='app/services.js')