doctype html
html(lang='en',ng-app='Uploader')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')
    title= title
    link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.css')
  body
    nav.navbar.navbar-inverse(role='navigation')
      div.navbar-header
        a.navbar-brand(href='#/polls')= title
      div(ng-controller='UserController')
        ul.nav.navbar-nav
          li
            a(href='/manualUpload') 上传图像
          li
            a(href='/autoscanUpload') 自动扫描
          li
            a(href='/history') 上传历史
          li
            a(href='/setting') 设置
          li
            a(ng-click='doLogout()') 退出
    div.container
      block content

    script(src='lib/jquery/dist/jquery.js')
    script(src='lib/bootstrap/dist/js/bootstrap.js')
    script(src='lib/angular/angular.js')
    script(src='lib/lodash/dist/lodash.js')
    script(src='app/app.js')
    script(src='app/controller.js')
    script(src='app/services.js')